/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 mars 2016, 20:46:21
    Author     : Thomas
*/
nav form.dropdown{
        margin: 15px;
    float: left;
}
.navbar-inverse form.dropdown a{
    color: lightgray;
}
.navbar-inverse form.dropdown a:hover{
    color: white;
    text-decoration: none;
}
#wrapper{
    background-image: url("../img/whiteploybg.jpg");
    background-attachment: fixed;
    background-size: cover;
    border-bottom: 2px solid black;
    
    min-height: 280px;
}
#mainwrap
{ background-attachment: fixed;
         background-image: url("../img/whiteploybg.jpg");
 
    background-size: cover;
}
div#maincontainer .input-group {
    z-index: 200;
}
ul.dropdown-menu>li, #maincontainer .input-group,.modal-body .input-group
{
    padding: 10px;
}
body{
    padding-top: 50px
}
html, body
{
    overflow: hidden;
}
.modal-body .input-group textArea{
    
    resize: none;
    height: 300px;
}
#maincontainer .btn-group,#maincontainer .multiselect.dropdown-toggle
{
    width: 100%;
}
#maincontainer .multiselect-container.dropdown-menu
{
    width: 400px;
    padding-left: 50px;

}
#maincontainer .multiselect-container.dropdown-menu li
{
    border-left: 2px dashed red;
}
#maincontainer .sliderform, modal-body .sliderform
{
    margin-left: 50px;
    margin-top: 10px;
}
#mainsearch
{
    border-left:  3px solid red;
}
nav li button
{
    margin: 7px;
}
#search {
    
    min-height: 100px;
    height: 100px;
    width: 100vw;
    -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition:  height 1s;
    
    max-height:60vh;

    overflow-x: hidden;
    overflow-y: hidden;
}

#wrapper:hover #search {
        overflow-y: scroll!important;

    height: auto!important;
}
#map{
    height:80vh;
    width: 100vw;
    top: 0px;
}
#map:hover{
 
    top:20vh;
    border-top: 3px solid black;
    position: absolute!important;
    z-index: 300;
}
