/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 mars 2016, 20:46:21
    Author     : Thomas
*/

ul.dropdown-menu>li, #maincontainer .input-group,.modal-body .input-group
{
    padding: 10px;
}
.modal-body .input-group textArea{
    
    resize: none;
    height: 300px;
}
#maincontainer .btn-group,#maincontainer .multiselect.dropdown-toggle
{
    width: 100%;
}
#maincontainer .multiselect-container.dropdown-menu
{
    width: 400px;
    padding-left: 50px;

}
#maincontainer .multiselect-container.dropdown-menu li
{
    border-left: 2px dashed red;
}
#maincontainer .sliderform, modal-body .sliderform
{
    margin-left: 50px;
    margin-top: 10px;
}
#mainsearch
{
    border-left:  3px solid red;
}
nav li button
{
    margin: 7px;
}
#search {
    z-index: 100;
    background: whitesmoke;
    position: fixed;
    width: 100vw;
    -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition:  height 1s;
    
    
    height:30vh;
    min-height:280px;
    max-height:90vh;
    padding-top: 60px;
    background-image: url("../img/whiteploybg.jpg");
    background-size: cover;
    border-bottom: 3px solid black;
}

#search:hover {
    height: auto!important;
}
#map{
    bottom: 0px;
    z-index: 0;
    background-color: lightgoldenrodyellow;
    height:70vh;
    position: fixed!important;
    width: 100vw;
}
