/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 mars 2016, 20:46:21
    Author     : Thomas
*/

#body
{
}
#search{
    height:30vh;
    padding-top: 50px;
    background-image: url("../img/whiteploybg.jpg");
    background-size: cover;
    border-bottom: 3px solid black;
}
#map{
    background-color: lightgoldenrodyellow;

    height:70vh;
    width: 100vw;
}